apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 37.2.0
    helm:
      values: |
        ingressClass:
          name: private

        deployment:
          replicas: 1

        service:
          type: LoadBalancer
          annotations:
            metallb.universe.tf/address-pool: private-pool

        ports:
          web:
            port: 80
            expose:
              default: true
            redirections:
              entryPoint:
                to: websecure
                scheme: https
                permanent: true
          websecure:
            port: 443
            expose:
              default: true
            tls:
              enabled: true

        ingressRoute:
          dashboard:
            enabled: true

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
