apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: telegram-warning
  namespace: monitoring
spec:
  route:
    receiver: telegram-warning
    groupBy:
      - alertname
      - namespace
    groupWait: 1m
    groupInterval: 10m
    repeatInterval: 6h
    matchers:
      - name: severity
        matchType: =
        value: warning
      - name: alertname
        matchType: =~
        value: '(AlertmanagerFailedToSendAlerts|KubeAPIErrorBudgetBurn|KubeAggregatedAPI(Errors|Down)|KubeAPITerminatedRequests|KubeNode(NotReady|Unreachable|ReadinessFlapping)|KubeletPodStartUpLatencyHigh|KubePersistentVolume(Inodes)?FillingUp|NodeFilesystem(SpaceFillingUp|AlmostOutOfSpace|FilesFillingUp)|NodeDiskIOSaturation|Prometheus(MissingRuleEvaluations|NotificationQueueRunningFull)|TargetDown)'
  receivers:
    - name: telegram-warning
      telegramConfigs:
        - botToken:
            name: alertmanager-telegram
            key: bot_token
          chatID: 1168609768
          parseMode: Markdown
          sendResolved: true
          message: |
            {{ if eq .Status "resolved" }}✅ RESOLVED{{ else }}⚠️ WARNING{{ end }} *{{ .CommonLabels.alertname }}* in `{{ .CommonLabels.namespace }}`
            {{ .CommonAnnotations.summary }}
            {{ .CommonAnnotations.description }}
