apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: mktxp-exporter
  namespace: monitoring
  labels:
    release: observability
spec:
  selector:
    matchLabels:
      app: mktxp-exporter
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: http
      interval: 30s
      scrapeTimeout: 10s
